<div class="container">
    <div class="row mt-lg-2">
        <div class="col-sm">
            <input placeholder="Search"
                   name="keyword"
                   [(ngModel)]="queryParam.keyword"
                   class="form-control form-control-lg ">
        </div>
        <div class="col-sm-auto">
            <button class="btn btn-lg btn-outline-success" (click)="queryModules()">Search</button>
            <button class="btn btn-lg btn-outline-primary" (click)="showCreateModuleModal()">New</button>
        </div>
    </div>
</div>
<div class="mt-lg-5">
    <div class="row">
        <div class="col-sm-3 card m-lg-0 shadow cursor-hand" style="width: 18rem;"*ngFor="let item of modules">
            <img class="card-img-top w-25 h-50" src="assets/imgs/tool.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{item.name}}</p>
            </div>
        </div>
    </div>
</div>
