<div class="container">
    <div class="row mt-lg-2">
        <div class="col-sm">
            <input placeholder="Search"
                   name="keyword"
                   [(ngModel)]="queryParam.keyword"
                   (keyup.enter)="queryModules()"
                   class="form-control form-control-lg ">
        </div>
        <div class="col-sm-auto">
            <button class="btn btn-lg btn-outline-success" (click)="queryModules()">Search</button>
            <button class="btn btn-lg btn-outline-primary" (click)="showCreateModuleModal()">New</button>
        </div>
    </div>
    <div class="row mt-lg-5">
        <div class="col-sm-6 mb-4" *ngFor="let item of modules">
            <div class="card m-sm-auto shadow">
                <h3 class="card-header text-center text-dark font-italic font-weight-light">{{item.name}}
                    <button type="button" class="close">
                        <span><img src="assets/svg/tools.svg" routerLink="/module/{{item.id}}/setting"></span>
                    </button>
                </h3>
                <div class="card-body cursor-hand" routerLink="/module/{{item.id}}">
                    <img class="card-img-top p-4" src="assets/imgs/tools.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
</div>
