<div class="modal-header">
    <h4 class="modal-title pull-left">CreateModule</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="email" class="form-control" id="name" aria-describedby="name" [(ngModel)]="module.name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <textarea class="form-control" id="desc" placeholder="Description" [(ngModel)]="module.desc"></textarea>
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <div class="input-group mb-3" id="type" dropdown>
            <input type="text" class="form-control" [(ngModel)]="module.type"
                   aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>

            <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle"
                        aria-controls="dropdown-basic" dropdownToggle type="button">Select
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                    <li role="menuitem" *ngFor="let item of types" (click)="module.type = item"><a class="dropdown-item" href="#">{{item}}</a></li>
                </ul>

            </div>
        </div>
        <!--<div class="btn-group" dropdown id="type">
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
                Button dropdown <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                </li>
            </ul>
        </div>-->
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="createModule()">Ok
    </button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
</div>
